.so-widget-sow-button-atom-c614b80b7a95 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 275px;
  font-size: 1em;
  padding: 1em 2em;
  background: #008e02;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#005b01),color-stop(1,#008e02));
  background: -ms-linear-gradient(bottom,#005b01,#008e02);
  background: -moz-linear-gradient(center bottom,#005b01 0%,#008e02 100%);
  background: -o-linear-gradient(#008e02,#005b01);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008e02', endColorstr='#005b01', GradientType=0);
  border: 1px solid;
  border-color: #004c01 #004201 #003201 #004201;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-atom-c614b80b7a95 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-atom-c614b80b7a95 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-atom-c614b80b7a95 .ow-button-base a:visited,
.so-widget-sow-button-atom-c614b80b7a95 .ow-button-base a:active,
.so-widget-sow-button-atom-c614b80b7a95 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-atom-c614b80b7a95 .ow-button-base a.ow-button-hover:hover {
  background: #009802;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#006501),color-stop(1,#009802));
  background: -ms-linear-gradient(bottom,#006501,#009802);
  background: -moz-linear-gradient(center bottom,#006501 0%,#009802 100%);
  background: -o-linear-gradient(#009802,#006501);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009802', endColorstr='#006501', GradientType=0);
  border-color: #005601 #004c01 #003c01 #004c01;
  color: #ffffff;
}