.so-widget-sow-headline-default-f74101bca457 .sow-headline-container h1.sow-headline {
  text-align: left;
  color: #dd3333;
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-f74101bca457 .sow-headline-container h1.sow-headline a {
  color: #dd3333;
}
.so-widget-sow-headline-default-f74101bca457 .sow-headline-container h3.sow-sub-headline {
  text-align: left;
  color: #dd3333;
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-f74101bca457 .sow-headline-container h3.sow-sub-headline a {
  color: #dd3333;
}
.so-widget-sow-headline-default-f74101bca457 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-headline-default-f74101bca457 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px solid #999999;
  width: 100%;
  max-width: 100%;
}
.so-widget-sow-headline-default-f74101bca457 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-f74101bca457 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}