.so-widget-sow-button-atom-1d04d71b14db .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #dd1313;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ae0f0f),color-stop(1,#dd1313));
  background: -ms-linear-gradient(bottom,#ae0f0f,#dd1313);
  background: -moz-linear-gradient(center bottom,#ae0f0f 0%,#dd1313 100%);
  background: -o-linear-gradient(#dd1313,#ae0f0f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd1313', endColorstr='#ae0f0f', GradientType=0);
  border: 1px solid;
  border-color: #a00e0e #970d0d #880c0c #970d0d;
  color: #FFFFFF !important;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-atom-1d04d71b14db .ow-button-base a .sow-icon-image,
.so-widget-sow-button-atom-1d04d71b14db .ow-button-base a [class^="sow-icon-"] {
  margin: 0;
}
.so-widget-sow-button-atom-1d04d71b14db .ow-button-base a:visited,
.so-widget-sow-button-atom-1d04d71b14db .ow-button-base a:active,
.so-widget-sow-button-atom-1d04d71b14db .ow-button-base a:hover {
  color: #FFFFFF !important;
}
.so-widget-sow-button-atom-1d04d71b14db .ow-button-base a.ow-button-hover:hover {
  background: #e61414;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#b71010),color-stop(1,#e61414));
  background: -ms-linear-gradient(bottom,#b71010,#e61414);
  background: -moz-linear-gradient(center bottom,#b71010 0%,#e61414 100%);
  background: -o-linear-gradient(#e61414,#b71010);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e61414', endColorstr='#b71010', GradientType=0);
  border-color: #a90f0f #a00e0e #920d0d #a00e0e;
  color: #ffffff;
}